/* 
    Created on : Oct 23, 2014, 7:14:51 PM
    Author     : Marin
*/

* { font-family: Arial, Helvetica, sans-serif; margin: 0px; }

//izbornik koji ovisi o statusu logina
#user ul { list-style-type: none; }
#user li { display: inline; margin: 0 0.5em; }

body { background-color: #EEE; }
#container { width: 800px; margin: 0 auto; border-left: 1px solid #666; border-right: 1px solid #666; 
            padding: 0 2em; }

header, footer { padding: 2em 0; }

article { margin: 1em 0; }
article h3 { margin: 1em 0; }